body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(19, 210, 114);
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  background-color: rgb(19, 210, 114);
  color: black;
  text-align: center;
  padding: 10px 0;
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p.description {
  color: #555;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  align-self: flex-start;
}

button:hover {
  background-color: #0056b3;
  transition: ease-in-out 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.go-back {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline from link */
  display: inline-block;
  /* Ensure it behaves like a button */
  border-radius: 4px;
}

.go-back:hover {
  background-color: #0056b3;
}